*/*.lo
*/*.o
Makefile
builds/msvc/Makefile
builds/redhat/zeromq.spec
config.h.in
config.log
config.status
foreign/openpgm/Makefile
libtool
perf/.deps/
perf/Makefile
perf/inproc_lat
perf/inproc_thr
perf/local_lat
perf/local_thr
perf/remote_lat
perf/remote_thr
src/.deps/
src/.libs/
src/Makefile
src/libzmq.la
src/libzmq.pc
src/platform.hpp
src/stamp-h1